:root {
  --vp-c-accent: #ff9711;
  --vp-c-accent-bg: #ffa52d;
  --vp-c-accent-hover: #ffa52d;
}

[data-theme="dark"] {
  --vp-c-accent: #da7d00;
  --vp-c-accent-bg: #f48b00;
  --vp-c-accent-hover: #f48b00;
  --vp-c-bg: black;

  img {
    opacity: 0.75;
  }
}

.shiki {
  &::-webkit-scrollbar {
    height: 7px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-brand);
  }
}

div[class*="language-"].ext-ms:before {
  content: "ms";
}

.custom-container.tip code {
  color: var(--c-tip-text-light);
  background-color: var(--c-tip-bg-light);
}

@media print {
  .vp-navbar {
    display: none;
  }
}
